@using Domain.Purse
@model PreviewModel
@{
    ViewBag.Title = "Index";
    <link href="@Url.Content("~/Content/StylePurse.css")" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../Scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../../UserScripts/ViewPurseScripts.js"></script>}
<script type="text/javascript">
    var thisYear;
    var thisMonth;
    $(document).ready(function () {
        SetScripts();
        funcNext();
    });
    function funcNext() {
        $('#Next').click(function () {
            thisYear = $('#Year').text();
            thisMonth = $('#MonthNumber').text();
            $.post("/Purse/NextMonth", { currentMonth: thisMonth, currentYear: thisYear }, function (data) {
                $('#tablePurse').remove();
                $('#Year').text(data.ThisYear);
                $('#MonthNumber').text(data.ThisMonth);
                $('#MonthName').text(data.Name);
                $('#MonthName').after(function () {
                    var table = '';
                    var tr = '';
                    $.each(data.Days, function (k, val) {
                        var rowspan = val.SpanDaysSingleOperations.length + 2;
                        tr = '<tr class="Day">' +
                            '<td rowspan="' + rowspan + '">' + val.Number + '</td>' +
                            '<td rowspan="' + rowspan + '">' + val.Name + '</td>' +
                            '<td colspan="3" id="SpanDaysSingleOperations"></td>' +
                            '<td rowspan="' + rowspan + '" class="Sum">' + val.SumSpan + '</td>' +
                            '</tr>';
                        var trNewOperation = '<tr class="NewOperation">' +
                        '<td>' +
                        '<input id="NewOperationName" class="NewOperationName" type="text" value="" name="OperationName">' +
                        '</td>' +
                        '<td>' +
                        '<input id="NewOperationValue" class="NewOperationValue" type="text" value="" name="OperationValue">' +
                        '</td>' +
                        '</tr>';
                        tr = tr + trNewOperation;
                        var trOperation = '';
                        $.each(val.SpanDaysSingleOperations, function (l, item) {
                            trOperation = trOperation + 
                                '<tr class="Operation" id="' + item.Id + '">' +
                                '<td>' +
                                '<input id="OperationName" class="OperationName" type="text" value="' + item.OperationName + '" name="OperationName">' +
                                '</td>' +
                                '<td>' +
                                '<input id="OperationValue" class="OperationValue" type="text" value="' + item.Value + '" name="OperationValue">' +
                                '</td>' +
                                '<td class="ButtonDelete">X</td>' +
                                '</tr>';
                        });
                        tr = tr + trOperation;
                        table = table + tr;
                    });
                    return '<table id="tablePurse">' +
                        table +
                        '</table>';
                });
                SetScripts();
            });
        });
    }

</script>

<div id="main">
    <h2 id="Year">@Model.CurrentMonth().GetThisYear()</h2>
    <h2 id="MonthNumber">@Model.CurrentMonth().GetThisMonth()</h2>
    <h3 id="MonthName">@Model.CurrentMonth().Name</h3>
    <table id="tablePurse">
        @foreach (var item in Model.CurrentMonth().GetDays())
        {
            var rowspan = item.SpanDaysSingleOperations.Count + 2;
            <tr class="Day">
                <td rowspan="@rowspan">@item.Number</td>
                <td rowspan="@rowspan">@item.Name</td>
                <td colspan="3" id="SpanDaysSingleOperations"></td>
                <td rowspan="@rowspan" class="Sum">@item.GetSumSpan()</td>
            </tr>
            <tr class="NewOperation">
                <td>@Html.TextBox("NewOperationName", null, new { Class = "NewOperationName" })</td>
                <td>@Html.TextBox("NewOperationValue", null, new { Class = "NewOperationValue" })</td>
            </tr>
            foreach (var operation in item.SpanDaysSingleOperations)
            {
                <tr class="Operation" id="@operation.Id">
                    <td>@Html.TextBox("OperationName", operation.OperationName, new { Class = "OperationName" })</td>
                    <td>@Html.TextBox("OperationValue", operation.Value, new { Class = "OperationValue" })</td>
                    <td class="ButtonDelete">X</td>
                </tr>
            }
        }
    </table>
    <input type="button" value="Prev" id="Prev" align="left"/>
    <input type="button" value="Next" id="Next" align="right"/>
</div>
