@using Domain.Purse
@model Month
@{
    ViewBag.Title = "Index";
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/viewpursescripts")
    @Scripts.Render("~/bundles/diagram")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/stylepurse")
}
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            funcSetScripts();
            funcNext();
            funcPrev();
            funcSHOperation();
            funcSetDiagram();
            funcSetAutocomplete();
        });
    </script>
}
<div id="main">
    <div id="divtable">
        <table id="tablePurse">
            @foreach (var item in Model.GetDays())
            {
                var rowspan = item.SpanDaysSingleOperations.Count + 2;
                <tr class="Day">
                    <td rowspan="@rowspan">@item.Number</td>
                    <td rowspan="@rowspan">@item.Name</td>
                    <td colspan="3" id="SpanDaysSingleOperations"></td>
                    <td rowspan="@rowspan" class="Sum">@item.GetSumSpan()</td>
                </tr>
                <tr class="NewOperation">
                    <td>@Html.TextBox("NewOperationName", null, new { Class = "NewOperationName" })</td>
                    <td>@Html.TextBox("NewOperationValue", null, new { Class = "NewOperationValue" })</td>
                </tr>
                foreach (var operation in item.SpanDaysSingleOperations)
                {
                    <tr class="Operation" id="@operation.Id">
                        <td>@Html.TextBox("OperationName", operation.OperationName, new { Class = "OperationName" })</td>
                        <td>@Html.TextBox("OperationValue", operation.Value, new { Class = "OperationValue" })</td>
                        <td class="ButtonDelete">X</td>
                    </tr>
                }
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td id="MonthSumSpan">@Model.MonthSpanSum()</td>
            </tr>
        </table>
    </div>
    <div id="divdata">
        <div id="MainDir">
            <div id="DateSet">
                <h2 id="MonthName">@Model.Name</h2>
                <h2 id="Year">@Model.GetThisYear()</h2>
                <h2 id="MonthNumber">@Model.GetThisMonth()</h2>
            </div>
            <div id="ButtonSet">
                <input type="button" value="Платежи" id="ButtonCheckSHOperation">
                <input type="button" value="График" id="ButtonDiagram">
                <input type="button" value="Год" id="ButtonYear"/>
            </div>
        </div>
        <div id="ButtonDir">
            <input type="button" value="Предыдущий" id="Prev"/>
            <input type="button" value="Следуюющий" id="Next"/>
        </div>
        <div><span id="DiagramMonthLabel"></span></div>
        <div id="DiagramMonth"></div>
    </div>
</div>
