@using Domain.Purse
@model PreviewModel
@{
    ViewBag.Title = "Index";
    <link href="@Url.Content("~/Content/StylePurse.css")" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../Scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../../UserScripts/ViewPurseScripts.js"></script>}
    <script type="text/javascript">
        $(document).ready(function () {
            SetScripts();
        });
    </script>
<div id="main">
<h2>Purse Index</h2>
<h3>@Model.Years[0].Months[0].Name</h3>
    <table id="tablePurse">
        @foreach (var item in Model.Years[0].Months[1].Days)
        {
            var rowspan = item.SpanDaysSingleOperations.Count + 2;
            <tr class="Day">
                <td rowspan="@rowspan">@item.Number</td>
                <td rowspan="@rowspan">@item.Name</td>
                <td colspan="3" id="SpanDaysSingleOperations"></td>
                <td rowspan="@rowspan" class="Sum">@item.GetSumSpan()</td>
            </tr>
            <tr class="NewOperation">
                <td>@Html.TextBox("NewOperationName", null, new { Class = "NewOperationName" })</td>
                <td>@Html.TextBox("NewOperationValue", null, new { Class = "NewOperationValue" })</td>
            </tr>
            foreach (var operation in item.SpanDaysSingleOperations)
            {
                <tr class="Operation" id="@operation.Id">
                    <td>@Html.TextBox("OperationName", operation.OperationName, new { Class = "OperationName" })</td>
                    <td>@Html.TextBox("OperationValue", operation.Value, new { Class = "OperationValue" })</td>
                    <td class="ButtonDelete">X</td>
                </tr>
            }
        }
    </table>
    <input type="button" value="Prev" id="Prev" align="left"/>
    <input type="button" value="Next" id="Next" align="right"/>
</div>
